@{
    ViewData["Title"] = "Home Page";
}
<!--para decirle a la Vista que tipo de modelo espera
, es con la directiva de RAZOR model-->
@model ProyectoFinal_SistemaVentas.Models.Vendedor
@{Layout=null;}
<!---->
<!--HTML5 programo aqui-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Vendedor</title>
</head>
<body>
  



  
</body>
</html>