<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Minisupermercado | Administrador</title>
    <link rel="stylesheet" href="css/estilos.css">

 

  </head>
  <body>
    <header>
      <div class="contenedor">
        <div id="marca">
          <h1><span class="resaltado">Minisupermercado</span> NOMBRE</h1>
        </div>
        <nav>
          <ul>
            <li class="actual"><a href="index.html">login</a></li>
            <li><a href="usuarios.html">Administrar Usuarios</a></li>
            <li><a href="productos.html">Administrar Productos</a></li>
            <li><a href="detalle_producto.html"> Producto</a></li>
            <li><a href="control.html">Control de Ingresos y Egresos</a></li>
            <li><a href="detalle_ventas.html">Ventas</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="cabecera">
      <div class="contenedor">
        <h1>producto</h1>
      </div>
   
    <footer>
      <p>Supermercado, Copyright &copy; 2021</p>
    </footer>
  </body>
</html>